openapi: 3.0.1
info:
  version: ''
  title: Third-party API
  description: |
    Use the Third-party API to exchange data between Talon.One and one of the supported [technology partners](https://docs.talon.one/docs/dev/technology-partners/overview).

    For example, use the Braze-specific endpoints from your Braze campaigns to interact with Talon.One.

    If the CDP or CEP you are using isn't listed here, use the generic
    [Customer Data Platforms](#tag/Customer-data-platforms) and [Customer Engagement Platform](#tag/Customer-engagement-platforms) endpoints.

    > [!note] 
    > All endpoints of this API start with `https://integration.talon.one`.
    > You must specify the base URL of your deployment in the headers or parameters.

    > [!note] **Are you looking for a different API?**
    > - To implement use cases that aren't covered by the Third-party API, see the [Integration API](https://docs.talon.one/management-api).
    > - To interact with the Campaign Manager for back-office operations, see the [Management API](https://docs.talon.one/management-api).
servers:
  - url: https://integration.talon.one
security:
  - ApiKeyAuth: []
tags:
  - name: Braze
    description: |
      [Braze](https://www.braze.com/) is a customer engagement platform to manage customer-centric interactions between consumers and brands in real-time.

      Use these endpoints to automate the creation of coupon and referral codes
      and deliver them to specific customer segments. To send requests to these endpoints, use the
      [connected content feature](https://www.braze.com/docs/user_guide/personalization_and_dynamic_content/connected_content/connected_content_retries) in Braze.

      For more information, see our integration examples in [the developer docs](https://docs.talon.one/docs/dev/technology-partners/braze).
  - name: Customer data platforms
    description: |
      You can integrate with any customer data platform, or CDP, using the following endpoints designed for third-party tools, rather than your own integration layer.

      Use these endpoints to automate the creation of coupon and referral codes and deliver them to specific customer segments.
  - name: Customer engagement platforms
    description: |
      You can integrate with any customer engagement platform, or CEP, using the following endpoints designed for third-party tools, rather than your own integration layer.

      Use these endpoints to automate the creation of coupon and referral codes and deliver them to specific customer segments.

      For more information, see our integration examples in [the developer docs](https://docs.talon.one/docs/dev/technology-partners/cep/integrating-cep).
  - name: Emarsys
    description: |
      Emarsys is a customer engagement platform that enables marketers to build, launch, and scale personalized cross-channel promotional campaigns that have measurable impact.

      Use these endpoints to integrate with Talon.One.
  - name: Iterable
    description: |
      [Iterable](https://iterable.com/) is a cross-channel marketing platform that powers unified customer experiences
      and empowers you to create, optimize and measure every interaction across the entire customer journey.

      Use these endpoints to automate the creation of coupon and referral codes
      and deliver them to specific customer segments. To send requests to these endpoints, use the
      [data feed feature](https://support.iterable.com/hc/en-us/articles/360044425931#enable-template-generation-using-data-feeds) in Iterable.

      For more information, see our integration examples in [the developer docs](https://docs.talon.one/docs/dev/technology-partners/iterable).
  - name: mParticle
    description: |
      [mParticle](https://www.mparticle.com/) is the customer data platform that helps unify data and simplify partner integrations with enterprise-class security and reliability.

      For more information, see our integration examples in [the developer docs](https://docs.talon.one/docs/dev/technology-partners/mparticle).
  - name: Segment
    description: |
      [Segment](https://segment.com/) is a customer data platform that collects events from your web & mobile apps.

      Use these endpoints to integrate with Talon.One.
paths:
  /braze/referral:
    post:
      tags:
        - Braze
      summary: Create referral (Braze)
      operationId: braze/createReferral
      description: |
        Create a referral code in Talon.One. To use it in your Braze deployment, see [the tutorial](https://docs.talon.one/docs/dev/technology-partners/braze/creating-referrals-braze).
      parameters:
        - $ref: '#/components/parameters/dryRun'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReferralRequest'
            examples:
              default:
                $ref: '#/components/examples/ReferralRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralResponse'
              examples:
                default:
                  $ref: '#/components/examples/ReferralResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /braze/coupon:
    post:
      tags:
        - Braze
      summary: Create coupon (Braze)
      operationId: braze/createCoupon
      description: |
        Create a coupon code in Talon.One. To use it in your Braze deployment, see [the tutorial](https://docs.talon.one/docs/dev/technology-partners/braze/creating-coupons-braze).

        You can also use this endpoint to get an existing coupon's details by setting the `identifier` property to a value you previously used.

        > [!tip]
        > You can edit the default coupon code format in the [campaign's settings](https://docs.talon.one/docs/product/campaigns/coupons/coupon-page-overview#editing-coupon-format).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrazeCouponRequest'
            examples:
              default:
                $ref: '#/components/examples/BrazeCouponRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrazeCouponResponse'
              examples:
                default:
                  $ref: '#/components/examples/BrazeCouponResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /braze/coupon_reservation:
    post:
      tags:
        - Braze
      summary: Create coupon reservation (Braze)
      operationId: braze/createCouponReservation
      description: |
        Create a coupon reservation for a specified customer profile on the specified coupon.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponReservationRequest'
            examples:
              default:
                $ref: '#/components/examples/CouponReservationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponReservationResponse'
              examples:
                default:
                  $ref: '#/components/examples/CouponReservationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /braze/event:
    post:
      tags:
        - Braze
      summary: Track event (Braze)
      operationId: braze/trackEvent
      description: |
        Triggers a custom event inside Talon.One. You can then trigger rules when this event is received.

        An event is a type of custom attribute. You must create it first in the Campaign Manager. See [creating custom events](https://docs.talon.one/docs/dev/concepts/entities/events#custom-events).
        To see the events received by your Application in Talon.One, open the Application and click **Events**.

        For more information, see [the tutorial](https://docs.talon.one/docs/dev/technology-partners/braze/adding-loyalty-points-braze).
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrazeTrackEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /iterable/coupon:
    get:
      tags:
        - Iterable
      summary: Create coupon (Iterable)
      operationId: iterable/createCoupon
      description: |
        Create a coupon code in Talon.One. To use it in your Iterable deployment and generate
        the request, see [the tutorial](https://docs.talon.one/docs/dev/technology-partners/iterable/creating-coupons-iterable).

        > [!tip]
        > You can edit the default coupon code format in the [campaign's settings](https://docs.talon.one/docs/product/campaigns/coupons/coupon-page-overview#editing-coupon-format).
      parameters:
        - $ref: '#/components/parameters/deployment'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/expiryDate'
        - $ref: '#/components/parameters/discountLimit'
        - $ref: '#/components/parameters/iterableCampaignId'
        - $ref: '#/components/parameters/recipientIntegrationId'
        - $ref: '#/components/parameters/usageLimitCoupons'
        - $ref: '#/components/parameters/attributes'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
              examples:
                default:
                  $ref: '#/components/examples/CouponResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /iterable/referral:
    get:
      tags:
        - Iterable
      summary: Create referral (Iterable)
      operationId: iterable/createReferral
      description: |
        Create a referral code in Talon.One. To use it in your Iterable deployment and generate
        the request, see [the tutorial](https://docs.talon.one/docs/dev/technology-partners/iterable/creating-referral-iterable).
      parameters:
        - $ref: '#/components/parameters/deployment'
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/advocateProfileIntegrationId'
        - $ref: '#/components/parameters/friendProfileIntegrationId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/expiryDate'
        - $ref: '#/components/parameters/usageLimit'
        - $ref: '#/components/parameters/attributes'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralResponse'
              examples:
                default:
                  $ref: '#/components/examples/ReferralResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /iterable/loyalty:
    get:
      tags:
        - Iterable
      summary: Get loyalty ledger (Iterable)
      operationId: iterable/loyalty
      description: |
        Get the loyalty ledger information of the given customer profile from Talon.One. To use it in your Iterable deployment and generate
        the request, see [the tutorial](https://docs.talon.one/docs/dev/technology-partners/iterable/getting-loyalty-iterable).

        This endpoint only works with [profile-based](https://docs.talon.one/docs/product/loyalty-programs/profile-based/profile-based-overview) loyalty programs.
      parameters:
        - $ref: '#/components/parameters/deployment'
        - $ref: '#/components/parameters/profileIntegrationId'
        - $ref: '#/components/parameters/loyaltyProgramId'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /segment/customer_profile/{customerProfileId}:
    put:
      tags:
        - Segment
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
        - name: customerProfileId
          in: path
          description: The integration ID of the customer profile. If the customer profile does not exist, it will be created.
          example: customer1
          required: true
          schema:
            type: string
      summary: Upsert customer profile v1 (Segment)
      operationId: segment/updateCustomerProfile
      deprecated: true
      description: |
        > [!warning] **This endpoint is deprecated.**
        > We recommend you use the current [Update customer profile](#tag/Segment/operation/segment/v2/updateCustomerProfile) endpoint.

        Create or update the given customer profile, and creates or set the specified attributes. You can also
        use this endpoint to specify which audiences this customer has joined or left.

        > [!note] **Note**
        > The audiences must be created first using [Create audience](#tag/Segment/operation/segment/createAudience).
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentCustomerProfileRequest'
            examples:
              default:
                $ref: '#/components/examples/SegmentCustomerProfileRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /segment/customer_profile_v2/{customerProfileId}:
    put:
      tags:
        - Segment
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
        - name: customerProfileId
          in: path
          description: The integration ID of the customer profile.
          example: customer1
          required: true
          schema:
            type: string
      summary: Upsert customer profile v2 (Segment)
      operationId: segment/updateCustomerProfileV2
      deprecated: true
      description: |
        > [!warning] **This endpoint is deprecated.**
        > We recommend you use the current [Update customer profile](#tag/Segment/operation/segment/v2/updateCustomerProfile) endpoint.

        Create or update the given customer profile, and also creates or set the specified attributes and audiences.

        You **do not** have to create attributes or audiences before using this endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentCustomerProfileRequestV2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileResponseV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /segment/v2/customer_profiles/{customerProfileId}:
    put:
      tags:
        - Segment
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
        - $ref: '#/components/parameters/skipNonExistingAttributes'
        - name: customerProfileId
          in: path
          description: The integration ID of the customer profile. If the customer profile does not exist, it will be created.
          example: customer1
          required: true
          schema:
            type: string
      summary: Update customer profile (Segment)
      operationId: segment/v2/updateCustomerProfile
      description: |
        Update or create a [customer profile](https://docs.talon.one/docs/dev/concepts/entities/customer-profiles). This endpoint triggers the Rule Builder.

        You can use this endpoint for the following tasks:
        - Set attributes for the given customer profile. Ensure you create the attributes in the Campaign Manager first.
        - Add the customer profile to audiences or remove it from audiences.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentCustomerProfileV2Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfileIntegrationResponseV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /segment/customer_profiles/{customerProfileId}/audiences:
    put:
      tags:
        - Segment
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
        - name: customerProfileId
          in: path
          description: The integration ID of the customer profile. If the customer profile does not exist, it will be created.
          required: true
          example: customer1
          schema:
            type: string
      summary: Update customer profile audiences using external ID (Segment)
      operationId: segment/updateCustomerProfileAudiences
      description: |
        Add a [customer profile](https://docs.talon.one/docs/dev/concepts/entities/customer-profiles) to or remove it from a list of audiences. This endpoint triggers the Rule Builder.

        To identify the audience, you can use its ID in Segment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleCustomerProfileIntegrationAudiencesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /segment/customer_profiles/audiences:
    parameters:
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Segment
      summary: Update audiences in multiple customer profiles (Segment)
      operationId: segment/updateCustomerProfilesAudiences
      description: |
        Update the specified audiences for the specified profiles.

        If a provided customer profile doesn't exist, it will be created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfilesAudiencesRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequests'
  /segment/v2/customer_profiles/audiences:
    parameters:
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Segment
      summary: Update audiences in multiple customer profiles using external ID (Segment)
      operationId: segment/v2/updateCustomerProfilesAudiences
      description: |
        Update the specified audiences for the specified profiles. To identify the audience, you can use its ID in the third-party integration.

        If a provided customer profile doesn't exist, it will be created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfilesIntegrationAudiencesRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /segment/event:
    parameters:
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Segment
      summary: Track event v1 (Segment)
      operationId: segment/trackEvent
      deprecated: true
      description: |
        **Important:** This endpoint is deprecated. We recommend you use the current [Track Event](#tag/Segment/operation/segment/trackEventV2) endpoint.

        <blockquote>Triggers a custom event inside Talon.One. You can then trigger rules when this event is received.

        An event is a type of custom attribute, you must create it first in the Campaign Manager. See [creating custom events](https://docs.talon.one/docs/dev/concepts/entities/events#custom-events).
        To see the events received by your Application in Talon.One, open the Application and click **Events**.

        If the specified session already exists, it must belong to the same `profileId` or an error will be returned.</blockquote>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentTrackEventRequest'
            examples:
              default:
                $ref: '#/components/examples/SegmentTrackEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /segment/v2/events:
    parameters:
      - $ref: '#/components/parameters/destinationHostname'
      - $ref: '#/components/parameters/skipNonExistingAttributes'
    put:
      tags:
        - Segment
      summary: Track event v2 (Segment)
      operationId: segment/trackEventV2
      description: |
        Trigger a custom event inside Talon.One. You can then trigger rules when this event is received.

        An event is a type of custom attribute, you must create it first in the Campaign Manager. See [creating custom events](https://docs.talon.one/docs/dev/concepts/entities/events#custom-events).
        To see the events received by your Application in Talon.One, open the Application and click **Events**.

        If the specified session already exists, it must belong to the same `profileId`, or else an error is returned.

        > [!note] **Note**
        > - Create the event and all the required attributes before using this endpoint.
        > - This `v2` version replaces the previous `v1` version of this endpoint.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SegmentTrackEventV2Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /segment/audiences:
    parameters:
      - $ref: '#/components/parameters/destinationHostname'
    post:
      tags:
        - Segment
      summary: Create audience (Segment)
      operationId: segment/createAudience
      description: |
        Create an audience. The audience can be created directly from scratch or can come from Segment.

        Once you create your first audience, audience-specific rule conditions are enabled in the Rule Builder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAndUpdateAudienceRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AudienceAlreadyExist'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequests'
  /segment/audiences/{audienceId}:
    parameters:
      - $ref: '#/components/parameters/audienceId'
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Segment
      summary: Update audience (Segment)
      operationId: segment/updateAudience
      description: |
        Update an audience.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAndUpdateAudienceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequests'
    delete:
      tags:
        - Segment
      summary: Delete audience (Segment)
      operationId: segment/deleteAudience
      description: |
        Delete the audience.

        **Warning:** This endpoint also removes any associations recorded between a customer profile and this audience.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequests'
  /segment/customer_sessions/{customerSessionId}:
    put:
      tags:
        - Segment
      summary: Update customer session v1 (Segment)
      operationId: segment/updateCustomerSession
      deprecated: true
      description: |
        **Important:** This endpoint is deprecated. We recommend you use the current [Update customer session](#tag/Segment/operation/segment/v2/updateCustomerSession) endpoint.

        <blockquote>Update the given customer session, or creates it if it doesn't exist.

        Customer sessions are a key concept in Talon.One, see the [documentation](https://docs.talon.one/docs/dev/concepts/entities/customer-sessions).

        This endpoint also allows you to define a callback where the response will be sent. See the **Header parameters** section below.</blockquote>
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
        - $ref: '#/components/parameters/callbackDestinationURI'
        - $ref: '#/components/parameters/callbackAPIKey'
        - $ref: '#/components/parameters/contentFields'
        - $ref: '#/components/parameters/correlationID'
        - name: customerSessionId
          in: path
          description: |
            The `integration ID` of the customer session. You set this ID when you create a customer session.

            You can see existing customer session integration IDs in the Campaign Manager's **Sessions** menu, or via the
            [List Application session endpoint](https://docs.talon.one/management-api#operation/getApplicationSessions).
          example: session1
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerSessionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /segment/v2/customer_sessions/{customerSessionId}:
    put:
      tags:
        - Segment
      summary: Update customer session v2 (Segment)
      operationId: segment/v2/updateCustomerSession
      description: |
        Update the given customer session, or create a customer session if it doesn't exist.

        Customer sessions are a key concept in Talon.One, see the [documentation](https://docs.talon.one/docs/dev/concepts/entities/customer-sessions).

        This endpoint also allows you to define a callback where the response will be sent. See the **Header parameters** section below.

        > [!note] **Note**
        > - Create the all the required attributes before using this endpoint.
        > - This `v2` version replaces the previous `v1` version of this endpoint.
      parameters:
        - $ref: '#/components/parameters/destinationHostname'
        - $ref: '#/components/parameters/callbackDestinationURI'
        - $ref: '#/components/parameters/callbackAPIKey'
        - $ref: '#/components/parameters/contentFields'
        - $ref: '#/components/parameters/correlationID'
        - $ref: '#/components/parameters/skipNonExistingAttributes'
        - name: customerSessionId
          in: path
          description: |
            The `integration ID` of the customer session. You set this ID when you create a customer session.

            You can see the existing customer session integration IDs in the Campaign Manager's **Sessions** menu, or via the
            [List Application session](https://docs.talon.one/management-api#operation/getApplicationSessions) endpoint.
          example: session1
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newCustomerSessionV2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/SegmentTooManyRequestsOrParallel'
  /cdp/customer_profile/{customerProfileId}:
    parameters:
      - $ref: '#/components/parameters/customerDataPlatformName'
      - $ref: '#/components/parameters/destinationHostname'
      - $ref: '#/components/parameters/skipNonExistingAttributes'
    put:
      tags:
        - Customer data platforms
      parameters:
        - name: customerProfileId
          in: path
          description: The integration ID of the customer profile. If the customer profile does not exist, it will be created.
          required: true
          example: customer1
          schema:
            type: string
      summary: Update customer profile (CDP)
      operationId: cdp/updateCustomerProfile
      description: |
        Update or create a [customer profile](https://docs.talon.one/docs/dev/concepts/entities/customer-profiles). This endpoint triggers the Rule Builder.

        You can use this endpoint for the following tasks:
        - Set attributes for the given customer profile. Ensure you create the attributes in the Campaign Manager first.
        - Add the customer profile to audiences or remove it from audiences.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CDPCustomerProfileRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cdp/customer_profile/{customerProfileId}/audiences:
    parameters:
      - $ref: '#/components/parameters/customerDataPlatformName'
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Customer data platforms
      parameters:
        - name: customerProfileId
          in: path
          description: The integration ID of the customer profile. If the customer profile does not exist, it will be created.
          required: true
          example: customer1
          schema:
            type: string
      summary: Update customer profile audiences using external ID (CDP)
      operationId: cdp/updateCustomerProfileAudiences
      description: |
        Add a [customer profile](https://docs.talon.one/docs/dev/concepts/entities/customer-profiles) to or remove it from a list of audiences. This endpoint triggers the Rule Builder.

        To identify the audience, you can use its ID in the third-party integration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SingleCustomerProfileIntegrationAudiencesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationStateV2'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cdp/customer_profiles/audiences:
    parameters:
      - $ref: '#/components/parameters/customerDataPlatformName'
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Customer data platforms
      summary: Update audiences in multiple customer profiles (CDP)
      operationId: cdp/updateCustomerProfilesAudiences
      description: |
        Update the specified audiences for the specified profiles.

        If a provided customer profile doesn't exist, it will be created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfilesAudiencesRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cdp/v2/customer_profiles/audiences:
    parameters:
      - $ref: '#/components/parameters/customerDataPlatformName'
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Customer data platforms
      summary: Update audiences in multiple customer profiles using external ID (CDP)
      operationId: cdp/v2/updateCustomerProfilesAudiences
      description: |
        Update the specified audiences for the specified profiles. To identify the audience, you can use its ID in the third-party integration.

        If a provided customer profile doesn't exist, it will be created.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerProfilesIntegrationAudiencesRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cdp/audiences:
    parameters:
      - $ref: '#/components/parameters/customerDataPlatformName'
      - $ref: '#/components/parameters/destinationHostname'
    post:
      tags:
        - Customer data platforms
      summary: Create audience (CDP)
      operationId: cdp/createAudience
      description: |
        Create an audience. The audience can be created directly from scratch or can come from third party platforms.

        Once you create your first audience, audience-specific rule conditions are enabled in the Rule Builder.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAndUpdateAudienceRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/AudienceAlreadyExist'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /cdp/audiences/{audienceId}:
    parameters:
      - $ref: '#/components/parameters/audienceId'
      - $ref: '#/components/parameters/customerDataPlatformName'
      - $ref: '#/components/parameters/destinationHostname'
    put:
      tags:
        - Customer data platforms
      summary: Update audience (CDP)
      operationId: cdp/updateAudience
      description: |
        Update an audience created by a third-party integration.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAndUpdateAudienceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Customer data platforms
      summary: Delete audience (CDP)
      operationId: cdp/deleteAudience
      description: |
        Delete an audience created by a third-party integration.

        **Warning:** This endpoint also removes any associations recorded between a customer profile and this audience.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /customer_engagement/coupon:
    get:
      tags:
        - Customer engagement platforms
      summary: Create coupon (CEP)
      operationId: cep/createCoupon
      description: |
        Create a coupon code in Talon.One. See [the tutorial](https://docs.talon.one/docs/dev/technology-partners/cep/integrating-cep).

        > [!tip]
        > You can edit the default coupon code format in the [campaign's settings](https://docs.talon.one/docs/product/campaigns/coupons/coupon-page-overview#editing-coupon-format).
      parameters:
        - $ref: '#/components/parameters/customerEngagementPlatformName'
        - $ref: '#/components/parameters/destinationHostname'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/externalCampaignId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/expiryDate'
        - $ref: '#/components/parameters/dryRun'
        - $ref: '#/components/parameters/discountLimit'
        - $ref: '#/components/parameters/recipientIntegrationId'
        - $ref: '#/components/parameters/usageLimitCoupons'
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/identifier'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponResponse'
              examples:
                default:
                  $ref: '#/components/examples/CouponResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /customer_engagement/referral:
    get:
      tags:
        - Customer engagement platforms
      summary: Create referral (CEP)
      operationId: cep/createReferral
      description: |
        Create a referral code in Talon.One. See [the tutorial](https://docs.talon.one/docs/dev/technology-partners/cep/integrating-cep).
      parameters:
        - $ref: '#/components/parameters/customerEngagementPlatformName'
        - $ref: '#/components/parameters/destinationHostname'
        - $ref: '#/components/parameters/dryRun'
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/advocateProfileIntegrationId'
        - $ref: '#/components/parameters/friendProfileIntegrationId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/expiryDate'
        - $ref: '#/components/parameters/usageLimit'
        - $ref: '#/components/parameters/attributes'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralResponse'
              examples:
                default:
                  $ref: '#/components/examples/ReferralResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /customer_engagement/loyalty:
    get:
      tags:
        - Customer engagement platforms
      summary: Get loyalty ledger (CEP)
      operationId: cep/loyalty
      description: |
        Get the loyalty ledger information of the given customer profile from Talon.One. See [the tutorial](https://docs.talon.one/docs/dev/technology-partners/cep/integrating-cep).

        This endpoint only works with [profile-based](https://docs.talon.one/docs/product/loyalty-programs/profile-based/profile-based-overview) loyalty programs.
      parameters:
        - $ref: '#/components/parameters/customerEngagementPlatformName'
        - $ref: '#/components/parameters/destinationHostname'
        - $ref: '#/components/parameters/profileIntegrationId'
        - $ref: '#/components/parameters/loyaltyProgramId'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /customer_engagement/add_loyalty_points:
    post:
      tags:
        - Customer engagement platforms
      summary: Add loyalty points (CEP)
      operationId: cep/addLoyaltyPoints
      description: |
        Add points in the specified loyalty program for the given customer.

        This endpoint only works with [profile-based](https://docs.talon.one/docs/product/loyalty-programs/profile-based/profile-based-overview) loyalty programs.
      parameters:
        - $ref: '#/components/parameters/customerEngagementPlatformName'
        - $ref: '#/components/parameters/destinationHostname'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddLoyaltyPointsRequest'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /mparticle:
    post:
      tags:
        - mParticle
      summary: Send event (mParticle)
      operationId: mparticle/sendevent
      description: |
        Send an mParticle event to Talon.One.

        This endpoint supports the following mParticle events:
        - `module_registration_request`: A new client has set up the Talon.One integration in mParticle.
        - `audience_membership_change_request`: Customers have been added to or removed from an audience in mParticle.
        - `audience_subscription_request`: An audience has been added, updated, or deleted in mParticle.
        - `event_processing_request`: One or more events have been triggered in mParticle.

        > [!warning]
        > This endpoint is not meant to be triggered manually. The above events are handled internally when using mParticle's feed inputs, event outputs, and audience outputs.
      security: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ModuleRegistrationRequest'
                - $ref: '#/components/schemas/AudienceMembershipChangeRequest'
                - $ref: '#/components/schemas/AudienceSubscriptionRequest'
                - $ref: '#/components/schemas/EventProcessingRequest'
            examples:
              moduleRegistrationRequest:
                $ref: '#/components/examples/ModuleRegistrationRequest'
              audienceMembershipChangeRequest:
                $ref: '#/components/examples/AudienceMembershipChangeRequest'
              audienceSubscriptionRequest:
                $ref: '#/components/examples/AudienceSubscriptionRequest'
              eventProcessingRequest:
                $ref: '#/components/examples/EventProcessingRequest'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ModuleRegistrationResponse'
                  - $ref: '#/components/schemas/AudienceSubscriptionResponse'
                  - $ref: '#/components/schemas/AudienceMembershipChangeResponse'
                  - $ref: '#/components/schemas/EventProcessingResponse'
              examples:
                moduleRegistrationResponse:
                  $ref: '#/components/examples/ModuleRegistrationResponse'
                audienceSubscriptionResponse:
                  $ref: '#/components/examples/AudienceSubscriptionResponse'
                audienceMembershipChangeResponse:
                  $ref: '#/components/examples/AudienceMembershipChangeResponse'
                eventProcessingResponse:
                  $ref: '#/components/examples/EventProcessingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/AudienceAlreadyExist'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /emarsys/customer_profiles/coupons:
    post:
      security:
        - ApiKeyBasicAuth: []
      tags:
        - Emarsys
      summary: Get coupon (Emarsys)
      operationId: emarsys/getCoupon
      description: |
        Retrieve a coupon code from Talon.One.
      parameters:
        - $ref: '#/components/parameters/deployment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmarsysCouponRequest'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmarsysCouponResponse'
              examples:
                default:
                  $ref: '#/components/examples/EmarsysCouponResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /emarsys/loyalty_programs/profile/balance:
    post:
      security:
        - ApiKeyBasicAuth: []
      tags:
        - Emarsys
      summary: Get loyalty balance (Emarsys)
      operationId: emarsys/getLoyaltyProgramBalance
      description: |
        Retrieve the loyalty balance of a customer profile from Talon.One.

        This endpoint only works with [profile-based](https://docs.talon.one/docs/product/loyalty-programs/profile-based/profile-based-overview) loyalty programs.
      parameters:
        - $ref: '#/components/parameters/deployment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmarsysLoyaltyBalanceRequest'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmarsysLoyaltyBalanceResponse'
              examples:
                default:
                  $ref: '#/components/examples/EmarsysLoyaltyBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /emarsys/customer_profiles/audiences:
    post:
      security:
        - ApiKeyBasicAuth: []
      tags:
        - Emarsys
      summary: Update audiences in multiple customer profiles (Emarsys)
      operationId: emarsys/v2/updateCustomerProfilesAudiences
      description: |
        Update the specified audiences for the specified profiles. To identify the audience, you can use its ID in the third-party integration.

        If a provided customer profile doesn't exist, it will be created.
      parameters:
        - $ref: '#/components/parameters/deployment'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmarsysCustomerProfilesAudiencesRequest'
            examples:
              default:
                $ref: '#/components/examples/EmarsysCustomerProfilesAudiencesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmarsysUpdateAudiencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  parameters:
    audienceId:
      name: audienceId
      in: path
      description: The integration ID of the audience.
      required: true
      schema:
        type: string
      example: audience1
    customerDataPlatformName:
      name: customer-data-platform-name
      in: header
      description: The name of the CDP platform.
      required: true
      schema:
        type: string
        format: string
      example: My CDP platform
    deployment:
      name: deployment
      in: query
      description: The base URL of your Talon.One deployment.
      schema:
        type: string
      required: true
      example: mycompany.europe-west1.talon.one
    campaignId:
      name: campaignId
      in: query
      description: The ID of the campaign in Talon.One. It is displayed in your Talon.One deployment URL.
      schema:
        type: integer
        format: int64
      required: true
      example: 5843
    applicationId:
      name: applicationId
      in: query
      description: The ID of the Application in Talon.One. It is displayed in your Talon.One deployment URL.
      schema:
        type: integer
        format: int64
      required: true
      example: 316
    startDate:
      description: The date when the code becomes usable.
      name: startDate
      in: query
      schema:
        type: string
        format: date-time
      example: '2022-09-30T15:35:02Z'
    expiryDate:
      description: The date when the code becomes unusable.
      name: expiryDate
      in: query
      schema:
        type: string
        format: date-time
      example: '2022-10-30T15:35:02Z'
    advocateProfileIntegrationId:
      name: advocateProfileIntegrationId
      in: query
      description: The integration ID of the advocate.
      schema:
        type: string
      required: true
      example: testAdvocateProfile
    friendProfileIntegrationId:
      name: friendProfileIntegrationId
      in: query
      description: The profile ID of the referred customer.
      schema:
        type: string
      example: testFriendProfile
    usageLimit:
      name: usageLimit
      in: query
      description: Number of times a referral code can be used. This can be set to 0 for no limit, but any campaign usage limits will still apply.
      schema:
        type: integer
        format: int64
      example: 1
    usageLimitCoupons:
      name: usageLimit
      in: query
      description: The number of times the coupon code can be redeemed. 0 means unlimited redemptions but any campaign usage limits will still apply. The default value is 1.
      schema:
        type: integer
        format: int64
        default: 1
      example: 1
    discountLimit:
      name: discountLimit
      in: query
      description: The discount amount the coupon is worth. Can be blank if, for example, the coupon provides a 10% discount, or something other than a fixed value of discounts.
      schema:
        type: integer
        format: int64
      example: 155
    iterableCampaignId:
      name: iterableCampaignId
      in: query
      description: The ID of the campaign in Iterable.
      schema:
        type: string
      required: true
      example: iterableCampaign
    recipientIntegrationId:
      name: recipientIntegrationId
      in: query
      description: The integration ID of the only customer that can use the generated coupon code. Leave blank to allow any user to use the coupon.
      schema:
        type: string
      example: URN-GV8294NV
    profileIntegrationId:
      name: profileIntegrationId
      in: query
      description: The integration ID of the customer profile in Talon.One.
      schema:
        type: string
      required: true
      example: URN-GV8294NV
    loyaltyProgramId:
      name: loyaltyProgramId
      in: query
      description: The ID of the profile-based loyalty program in Talon.One.
      schema:
        type: integer
        format: int64
      required: true
      example: 25
    customerEngagementPlatformName:
      name: customer-engagement-platform-name
      in: header
      description: The name of the third-party platform.
      schema:
        type: string
      required: true
      example: My CEP platform
    destinationHostname:
      name: destination-hostname
      in: header
      description: The base URL of your Talon.One deployment.
      required: true
      schema:
        type: string
        format: hostname
      example: mycompany.europe-west1.talon.one
    dryRun:
      name: X-DRY-RUN
      in: header
      description: Indicates whether to persist the changes. Changes are ignored when `X-DRY-RUN=true`.
      schema:
        type: boolean
      example: true
    externalCampaignId:
      name: externalCampaignId
      in: query
      description: The ID of the campaign in the third-party platform.
      schema:
        type: string
      example: testCampaignId
      required: true
    attributes:
      name: attributes
      in: query
      description: |
        Optional parameter to set the value of custom attributes. They are defined in the Campaign Manager,
        see [Managing attributes](https://docs.talon.one/docs/product/account/dev-tools/managing-attributes).

        Prefix each attribute name with `.` or `_`. 

        Certain attributes can also be set to _mandatory_ in your Application [settings](https://docs.talon.one/docs/product/applications/using-attributes#making-attributes-mandatory).
        If your Application uses mandatory attributes, you must use this parameter to set their value.

        The type of the value must match the type of the attribute. If you provide an integer value, the attribute must also be of type Integer in Talon.One.

        If the types do not match, and the attribute in Talon.One is of type String, put the value in quotes. For example, if you provide a Boolean value for a String attribute, use `"true"` and `"false"`. 

        Full URI example: `https://<url>?applicationId=5&.myIntegerAttribute=1234&.myStringAttribute1=Text&.myStringAttribute2="1234"&.myStringAttribute3="true"`.
      schema:
        type: object
        additionalProperties: true
      style: form
      explode: true
      example:
        .firstName: john
        .country: DE
    callbackDestinationURI:
      name: X-Callback-Destination-URI
      in: header
      description: |
        The **full** URI where Talon.One sends the response content. The callback is a `POST` request.
      schema:
        type: string
        format: hostname
      example: http://mydomain.com/api/callbacks
    callbackAPIKey:
      name: X-Callback-API-Key
      in: header
      description: |
        The header and the API key, separated by a space. The first space marks the header.

        For example:
        - To set `Authorization: 3aa74d582bd94`, use `Authorization 3aa74d582bd94`.
        - To set `Authorization: ApiKey-v1 3aa74d582bd94`, use `Authorization ApiKey-v1 3aa74d582bd94`.

        The minimal length of the API key is 32 characters.
      example: Authorization 3aa74d582bd9479c59e16f970fe13bf3
      schema:
        type: string
    contentFields:
      name: X-Content-Fields
      in: header
      description: |
        A comma-separated list of field names from the Update customer endpoint's response that you want to receive.

        If omitted, all the fields will be sent to the callback destination URI.
      example: customerProfile
      schema:
        type: string
        enum:
          - customerSession
          - customerProfile
          - coupons
          - triggeredCampaigns
          - referral
          - loyalty
          - event
          - awardedGiveaways
          - ruleFailureReasons
          - previousReturns
          - createdAttributes
          - createdCoupons
          - createdReferrals
          - effects
    correlationID:
      name: X-Correlation-ID
      in: header
      description: |
        An arbitrary ID assigned to the callback request. You can use it to track the callbacks you receive from Talon.One.
        If omitted, the callback request does not include `X-Correlation-ID`.
      schema:
        type: string
      example: abc123
    identifier:
      name: identifier
      in: query
      description: |
        The identifier of the request. Providing a new value creates a new coupon. Providing an existing value retrieves the existing coupon of that ID and does not create a new coupon.
      schema:
        type: string
      example: 3495-4323
    skipNonExistingAttributes:
      name: skipNonExistingAttributes
      in: query
      schema:
        type: boolean
        default: false
      example: true
      description: |
        Indicates whether to skip non-existing attributes.

        If `true`, the non-existing attributes are skipped and a 400 error is not returned.

        If `false`, a 400 error is returned in case of non-existing attributes.
  schemas:
    CouponReservationRequest:
      type: object
      required:
        - deploymentUrl
        - couponValue
        - integrationId
      properties:
        deploymentUrl:
          type: string
          description: The base url of your deployment.
          example: mycompany.europe-west1.talon.one
        couponValue:
          type: string
          description: The coupon code.
        integrationId:
          type: string
          description: The integration ID of the customer profile.
    CouponReservationResponse:
      type: object
      required:
        - id
        - campaignId
        - value
        - usageLimit
        - usageCounter
        - created
      properties:
        id:
          type: integer
          format: int64
          example: 20190408
          description: The internal ID of this entity.
        campaignId:
          type: integer
          format: int64
          example: 30
          description: The ID of the campaign that owns this entity.
        value:
          type: string
          example: SUMMER-####-2022
          description: The coupon code.
        usageLimit:
          type: integer
          format: int64
          example: 1
          description: The number of times the coupon code can be redeemed. `0` means unlimited redemptions but any campaign usage limits will still apply.
        usageCounter:
          type: integer
          description: The number of times the coupon has been successfully redeemed.
          example: 1
        created:
          type: string
          format: date-time
          description: The time this entity was created.
          example: '2022-03-02T16:46:17.758585Z'
        attributes:
          type: object
          description: Custom attributes associated with this coupon.
          additionalProperties: true
        batchId:
          type: string
          description: The ID of the batch the coupon belongs to.
          example: 32535-43255
        isReservationMandatory:
          type: boolean
          example: false
          description: Indicates whether the code can be redeemed only if it has been reserved first.
        implicitlyReserved:
          description: Indicates whether the coupon is implicitly reserved for all customers.
          type: boolean
          example: false
        reservation:
          type: boolean
          example: false
          description: |
            Defines the reservation type:
            - `true`: The coupon can be reserved for multiple customers.
            - `false`: The coupon can be reserved only for one customer. It is a personal code.
    ReferralRequest:
      type: object
      required:
        - deploymentUrl
        - campaignId
        - advocateProfileIntegrationId
      properties:
        deploymentUrl:
          type: string
          description: The base url of your deployment.
          example: mycompany.europe-west1.talon.one
        campaignId:
          type: integer
          format: int64
          minimum: 1
          example: 3
          description: The ID of the campaign in Talon.One. It is displayed in your Talon.One deployment URL.
        advocateProfileIntegrationId:
          type: string
          minLength: 1
          example: URN-GV8294NV
          description: The customer integration ID of the advocate.
        friendProfileIntegrationId:
          type: string
          minLength: 1
          example: PKBR-G06449OELK
          description: The customer integration ID of the person being referred.
        startDate:
          type: string
          format: date-time
          example: '2021-09-30T15:35:02.371569+02:00'
          description: The date when the code becomes usable.
        expiryDate:
          type: string
          format: date-time
          example: '2021-10-03T15:35:02.371569+02:00'
          description: The date when the code becomes unsable.
        usageLimit:
          type: integer
          format: int64
          minimum: 0
          default: 0
          example: 1
          description: Set the usage limit of the referral to unlimited.
        attributes:
          type: object
          description: |
            An object containing the value of each attributes to set.

            New attributes are created automatically. For more information, see [Attributes](https://docs.talon.one/docs/dev/concepts/attributes).
    ReferralResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 32
        created:
          type: string
          format: date-time
          example: '2020-02-08T14:15:20Z'
        startDate:
          type: string
          format: date-time
          example: '2020-02-12T11:00:00Z'
        expiryDate:
          type: string
          format: date-time
          example: '2021-02-12T11:00:00Z'
        usageLimit:
          type: integer
          format: int64
          example: 1
        campaignId:
          type: integer
          format: int64
          example: 23
        advocateProfileIntegrationId:
          type: string
          minLength: 1
          example: URN-GV8294NV
        friendProfileIntegrationId:
          type: string
          minLength: 1
          example: PKBR-G06449OELK
        attributes:
          type: object
          example:
            phone: 555-555-555
            language: english
        code:
          type: string
          example: XMAS-2020
        usageCounter:
          type: integer
          format: int64
          example: 0
        dryRun:
          type: boolean
          example: true
    BrazeCouponRequest:
      type: object
      required:
        - deploymentUrl
        - applicationId
        - campaignId
        - identifier
      properties:
        deploymentUrl:
          type: string
          description: The base URL of your Talon.One deployment.
          example: mycompany.europe-west1.talon.one
        applicationId:
          type: integer
          format: int64
          minimum: 1
          description: The ID of the Application in Talon.One. It is displayed in your Talon.One deployment URL.
          example: 2
        campaignId:
          type: integer
          format: int64
          minimum: 1
          description: The ID of the campaign in Talon.One. It is displayed in your Talon.One deployment URL.
          example: 34
        identifier:
          type: string
          minLength: 1
          description: |
            The identifier of the request. Providing a new value creates a new coupon. Providing an existing value retrieves the existing coupon of that ID and does not create a new coupon.

            In general, you should set it to a variable controlled by Braze. Usual values include:
            - `message_api_id`
            - `variant_api_id`
            - `dispatch_id`

            See [Supported personalization tags](https://www.braze.com/docs/user_guide/personalization_and_dynamic_content/liquid/supported_personalization_tags/)
            and [dispatch ID](https://www.braze.com/docs/help/help_articles/data/dispatch_id/) behavior.
          example: 3495-4323
        usageLimit:
          type: integer
          format: int64
          default: 1
          description: The usage limit of the coupon.
          example: 1
        discountLimit:
          type: number
          minimum: 0
          maximum: 999999
          example: 30
          description: |
            The discount amount the coupon is worth. Can be blank if, for example, the coupon provides a 10% discount, or something other than a fixed value of discounts.
        reservationLimit:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999
          example: 45
          description: |
            The number of reservations that can be made with this coupon code.
        isReservationMandatory:
          type: boolean
          example: true
          description: |
            Indicates whether the code can be redeemed only if it has been reserved first.
        limits:
          type: array
          description: |
            Limits configuration for a coupon. These limits will override the limits
            set from the campaign.

            **Note:** Only usable when creating a single coupon which is not tied to a specific recipient.
            Only per-profile limits are allowed to be configured.
          items:
            type: object
            required:
              - action
              - limit
              - entities
            properties:
              action:
                type: string
                description: |
                  The limitable action to which this limit applies. Must be set to `redeemCoupon`.
                example: redeemCoupon
              limit:
                type: number
                minimum: 0
                example: 1000
                description: The number of times a coupon can be redeemed per customer.
              entities:
                type: array
                description: The entities that this limit applies to. Must be set to `["Coupon", "Profile"]`.
                example:
                  - Coupon
                  - Profile
                items:
                  type: string
                  enum:
                    - Coupon
                    - Profile
        integrationId:
          type: string
          description: The integration ID of the customer profile. When specified, only that customer will be able to use the coupon.
          example: URNGV8294NV
        startDate:
          type: string
          format: date-time
          description: The start date of the coupon.
          example: '2021-09-30T15:35:02.371569+02:00'
        expiryDate:
          type: string
          format: date-time
          description: The expiry date of the coupon.
          example: '2022-02-28T11:00:00.569+02:00'
        validCharacters:
          type: array
          items:
            type: string
          description: The list of allowed characters to be used when generating the code.
          example:
            - S
            - U
            - M
            - E
            - R
        couponPattern:
          type: string
          description: The coupon pattern to use. Use `#` to represent a random character picked from `validCharacters`.
          example: SUMMER-####-2022
        attributes:
          type: object
          description: Arbitrary properties associated with item.
          example:
            language: english
    CouponResponse:
      type: object
      required:
        - ID
        - ApplicationID
        - CampaignID
        - Value
        - UsageLimit
      properties:
        ID:
          type: integer
          format: int64
          example: 20190408
        ApplicationID:
          type: integer
          format: int64
          example: 2
        CampaignID:
          type: integer
          format: int64
          example: 30
        Value:
          type: string
          example: SUMMER-####-2022
        DiscountLimit:
          type: integer
          format: int64
          description: The discount amount the coupon is worth. Can be blank if, for example, the coupon provides a 10% discount, or something other than a fixed value of discounts.
          example: 100
        ReservationLimit:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999
          example: 45
          description: The number of reservations that can be made with this coupon code.
        IsReservationMandatory:
          type: boolean
          example: true
          description: |
            Indicates whether the code can be redeemed only if it has been reserved first.
        StartDate:
          type: string
          format: date-time
          example: '2021-09-30T15:35:02.371569+02:00'
        ExpiryDate:
          type: string
          format: date-time
          example: '2022-02-28T11:00:00.569+02:00'
        RecipientIntegrationID:
          type: string
          example: URN-GV8294NV
        UsageLimit:
          type: integer
          format: int64
          example: 1
        Attributes:
          type: object
          example:
            language: english
    BrazeCouponResponse:
      type: object
      properties:
        ID:
          type: integer
          format: int64
          example: 20190408
        ApplicationID:
          type: integer
          format: int64
          example: 2
        CampaignID:
          type: integer
          format: int64
          example: 30
        Value:
          type: string
          example: SUMMER-####-2022
        DiscountLimit:
          type: integer
          format: int64
          description: The discount amount the coupon is worth. Can be blank if, for example, the coupon provides a 10% discount, or something other than a fixed value of discounts.
          example: 100
        ReservationLimit:
          type: integer
          format: int64
          minimum: 0
          maximum: 999999
          example: 45
          description: The number of reservations that can be made with this coupon code.
        IsReservationMandatory:
          type: boolean
          example: true
          description: |
            Indicates whether the code can be redeemed only if it has been reserved first.
        Limits:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
                description: |
                  The limitable action to which this limit applies. For example:
                  - `redeemCoupon`
                example: redeemCoupon
              limit:
                type: number
                minimum: 0
                example: 1000
                description: The value to set for the limit.
              entities:
                type: array
                description: The entity that this limit applies to.
                example:
                  - Coupon, Profile
                items:
                  type: string
                  enum:
                    - Coupon
                    - Profile
        StartDate:
          type: string
          format: date-time
          example: '2021-09-30T15:35:02.371569+02:00'
        ExpiryDate:
          type: string
          format: date-time
          example: '2022-02-28T11:00:00.569+02:00'
        RecipientIntegrationID:
          type: string
          example: URN-GV8294NV
        UsageLimit:
          type: integer
          format: int64
          example: 1
        Attributes:
          type: object
          example:
            language: english
    CustomerProfileRequest:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/attributeValuePairs'
        runRuleEngine:
          type: boolean
          default: false
          description: |
            Indicates whether to run the Rule Engine.

            If `true`, the rules are run and their effects are applied, and audience changes are applied.

            If `false`:
            - The rules are not executed.
            - The response time improves.
            - Audience changes are not applied.
          example: false
        audiencesChanges:
          $ref: '#/components/schemas/audienceChange'
    CDPCustomerProfileRequest:
      type: object
      properties:
        attributes:
          type: object
          description: |
            Property to set the attributes of your choice to the values of your choice.

            **Note:** If set to `null`, the attribute is deleted from the customer profile.
          additionalProperties: true
          example:
            Language: english
            ShippingCountry: DE
            ProductClicked: true
        runRuleEngine:
          type: boolean
          default: false
          description: |
            Indicates whether to run the Rule Engine.

            If `true`, the rules are run and their effects are applied.

            If `false`:
            - The rules are not executed.
            - The response time improves.

            **Note:** If the `audiencesChanges` request parameter is not empty, this value is automatically set to `true`.
          example: false
        audiencesChanges:
          $ref: '#/components/schemas/audienceChange'
    CustomerProfileRequestV2:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/attributeValuePairs'
        runRuleEngine:
          type: boolean
          default: false
          description: |
            Indicates whether to run the Rule Engine.

            If `true`, the rules are run and their effects are applied, and audience changes are applied.

            If `false`:
            - The rules are not executed.
            - The response time improves.
            - Audience changes are not applied.
          example: false
        audiencesChanges:
          $ref: '#/components/schemas/audienceChangeV2'
    CustomerProfilesAudiencesRequest:
      type: object
      properties:
        data:
          type: array
          description: |
            Indicates audience changes for a selected profile.

            **Note:** The total number of `adds` and `deletes` items should be equal to or less than `1000`.
          items:
            $ref: '#/components/schemas/multipleAudienceChanges'
    CustomerProfilesIntegrationAudiencesRequest:
      type: object
      properties:
        data:
          type: array
          description: |
            Indicates audience changes for a selected profile.

            **Note:** The total number of `adds` and `deletes` items should be equal to or less than `1000`.
          items:
            $ref: '#/components/schemas/multipleIntegrationAudienceChanges'
    SingleCustomerProfileIntegrationAudiencesRequest:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/integrationAudienceChange'
          description: |
            Indicates integration ids of the audience changes for a selected profile.

            **Note:** The total number of `adds` and `deletes` items should be equal to or less than `1000`.
    CustomerProfileResponse:
      type: object
      description: |
        Contains all entities that might interest Talon.One integrations.
      properties:
        customerProfile:
          $ref: '#/components/schemas/customerProfile'
        createdAttributes:
          $ref: '#/components/schemas/multipleAttributes'
    CustomerProfileResponseV2:
      allOf:
        - $ref: '#/components/schemas/CustomerProfileResponse'
        - type: object
          properties:
            audiences:
              type: array
              description: The flat list of audiences in Talon.One used in the request after they were processed.
              items:
                $ref: '#/components/schemas/MultipleAudiencesItem'
    MultipleAudiencesItem:
      allOf:
        - $ref: '#/components/schemas/entity'
        - $ref: '#/components/schemas/newAudience'
        - type: object
          required:
            - name
            - integrationId
            - status
          description: |
            Audience item that contains the status of the action applied and its related properties.
          properties:
            status:
              type: string
              description: |
                Indicates whether the audience is new, updated or unmodified by the request.
              enum:
                - unmodified
                - updated
                - new
              example: new
    CreateAndUpdateAudienceRequest:
      type: object
      required:
        - audienceId
        - audienceName
      properties:
        audienceId:
          $ref: '#/components/schemas/audienceId'
        audienceName:
          $ref: '#/components/schemas/audienceName'
    CreateAndUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/entity'
        - $ref: '#/components/schemas/accountEntity'
        - $ref: '#/components/schemas/newAudience'
    TrackEventRequest:
      type: object
      required:
        - eventType
        - type
        - customerProfileId
      properties:
        eventType:
          type: string
          format: string
          description: The event type, as defined in Talon.One when you created the custom attribute representing this event.
          example: myBrazeEvent
        type:
          type: string
          format: string
          enum:
            - string
            - time
            - number
            - boolean
            - location
            - (list string)
            - (list number)
            - (list time)
            - (list location)
          description: The data type of the event, as defined in Talon.One when you created the custom attribute representing this event.
          example: string
        eventAttributes:
          $ref: '#/components/schemas/attributeValuePairs'
        customerProfileId:
          $ref: '#/components/schemas/customerProfileID'
    BrazeTrackEventRequest:
      allOf:
        - $ref: '#/components/schemas/TrackEventRequest'
        - type: object
          required:
            - identifier
          properties:
            identifier:
              $ref: '#/components/schemas/identifier'
    SegmentTrackEventV2Request:
      type: object
      required:
        - eventType
      properties:
        eventType:
          type: string
          format: string
          description: The event type, as defined in Talon.One when you created the custom attribute representing this event.
          example: mySegmentEvent
        eventAttributes:
          $ref: '#/components/schemas/attributeValuePairs'
        customerProfileId:
          $ref: '#/components/schemas/customerProfileID'
    SegmentTrackEventRequest:
      allOf:
        - $ref: '#/components/schemas/TrackEventRequest'
        - type: object
          properties:
            attributesInfo:
              $ref: '#/components/schemas/attributesInfo'
    SegmentCustomerProfileRequest:
      allOf:
        - $ref: '#/components/schemas/CustomerProfileRequest'
        - type: object
          properties:
            attributesInfo:
              $ref: '#/components/schemas/attributesInfo'
    SegmentCustomerProfileRequestV2:
      allOf:
        - $ref: '#/components/schemas/CustomerProfileRequestV2'
        - type: object
          properties:
            attributesInfo:
              $ref: '#/components/schemas/attributesInfo'
    SegmentCustomerProfileV2Request:
      type: object
      properties:
        attributes:
          $ref: '#/components/schemas/attributeValuePairs'
        runRuleEngine:
          type: boolean
          default: false
          description: |
            Indicates whether to run the Rule Engine.

            If `true`, the rules are run and their effects are applied, and audience changes are applied.

            If `false`:
            - The rules are not executed.
            - The response time improves.
            - Audience changes are not applied.
          example: false
        audiencesChanges:
          $ref: '#/components/schemas/audienceChange'
    CustomerProfileIntegrationResponseV2:
      type: object
      description: |
        This is the response type returned by the updateCustomerProfileV2 endpoint.
      required:
        - effects
        - createdCoupons
        - createdReferrals
      properties:
        customerProfile:
          $ref: '#/components/schemas/customerProfile'
        event:
          $ref: '#/components/schemas/event'
        loyalty:
          $ref: '#/components/schemas/loyalty'
        triggeredCampaigns:
          type: array
          items:
            $ref: '#/components/schemas/campaign'
        ruleFailureReasons:
          type: array
          items:
            $ref: '#/components/schemas/ruleFailureReason'
        awardedGiveaways:
          type: array
          items:
            $ref: '#/components/schemas/giveaway'
        effects:
          type: array
          description: The effects generated by the rules in your running campaigns. See [API effects](https://docs.talon.one/docs/dev/integration-api/api-effects).
          items:
            $ref: '#/components/schemas/effect'
        createdCoupons:
          type: array
          items:
            $ref: '#/components/schemas/coupon'
        createdReferrals:
          type: array
          items:
            $ref: '#/components/schemas/referral'
    LoyaltyResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 302
        title:
          type: string
          example: My loyalty program
        name:
          type: string
          example: myloyaltyprogram
        ledger:
          allOf:
            - $ref: '#/components/schemas/ledgerInfo'
        subLedgers:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ledgerInfo'
    UpdateCustomerSessionRequest:
      type: object
      properties:
        customerSession:
          $ref: '#/components/schemas/newCustomerSessionV2'
        sessionAttributesInfo:
          $ref: '#/components/schemas/attributesInfo'
        cartItemAttributesInfo:
          $ref: '#/components/schemas/attributesInfo'
    IntegrationStateV2:
      type: object
      description: |
        Contains all entities that might interest Talon.One integrations. This is the response type returned by the v2 PUT customer_session endpoint.
      required:
        - effects
        - createdCoupons
        - createdReferrals
      properties:
        customerSession:
          $ref: '#/components/schemas/customerSessionV2'
        customerProfile:
          $ref: '#/components/schemas/customerProfile'
        event:
          $ref: '#/components/schemas/event'
        loyalty:
          $ref: '#/components/schemas/loyalty'
        referral:
          $ref: '#/components/schemas/inventoryReferral'
        coupons:
          type: array
          items:
            $ref: '#/components/schemas/coupon'
        triggeredCampaigns:
          type: array
          items:
            $ref: '#/components/schemas/campaign'
        effects:
          type: array
          items:
            $ref: '#/components/schemas/effect'
        ruleFailureReasons:
          type: array
          items:
            $ref: '#/components/schemas/ruleFailureReason'
        createdCoupons:
          type: array
          items:
            $ref: '#/components/schemas/coupon'
        createdReferrals:
          type: array
          items:
            $ref: '#/components/schemas/referral'
        awardedGiveaways:
          type: array
          items:
            $ref: '#/components/schemas/giveaway'
        return:
          $ref: '#/components/schemas/return'
        previousReturns:
          type: array
          items:
            $ref: '#/components/schemas/return'
    ModuleRegistrationRequest:
      allOf:
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description: The type of the mParticle request. Must be set to `module_registration_request`.
              example: module_registration_request
        - $ref: '#/components/schemas/mparticleBaseFields'
        - $ref: '#/components/schemas/mparticleAccount'
    ModuleRegistrationResponse:
      allOf:
        - $ref: '#/components/schemas/mparticleResponseType'
        - $ref: '#/components/schemas/mparticleBaseFields'
        - type: object
          properties:
            name:
              type: string
              description: The name of the Talon.One integration.
              example: Talon.One
            description:
              type: string
              description: The description of the Talon.One integration.
              example: <a href='https://talon.one'>Talon.One</a> is the world's most flexible Promotion Engine. Create, manage and track coupon codes, discount campaigns, loyalty programs and referrals in one system.
            version:
              type: string
              description: The version of the Talon.One integration.
              example: 0.0.1
            permissions:
              $ref: '#/components/schemas/mparticlePermissions'
            audience_processing_registration:
              $ref: '#/components/schemas/mparticleAudienceProcessingRegistration'
            event_processing_registration:
              $ref: '#/components/schemas/mparticleEventProcessingRegistration'
    AudienceMembershipChangeRequest:
      allOf:
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description: The type of the mParticle request. Must be set to `audience_membership_change_request`.
              example: audience_membership_change_request
        - $ref: '#/components/schemas/mparticleBaseFields'
        - $ref: '#/components/schemas/mparticleAccount'
        - type: object
          properties:
            user_profiles:
              type: array
              description: The customer profiles to add to or remove from an audience.
              items:
                $ref: '#/components/schemas/mparticleUserProfiles'
    AudienceMembershipChangeResponse:
      allOf:
        - $ref: '#/components/schemas/mparticleResponseType'
        - $ref: '#/components/schemas/mparticleBaseFields'
    AudienceSubscriptionRequest:
      allOf:
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description: The type of the mParticle request. Must be set to `audience_subscription_request`.
              example: audience_subscription_request
        - $ref: '#/components/schemas/mparticleBaseFields'
        - $ref: '#/components/schemas/mparticleAccount'
        - type: object
          required:
            - audience_id
            - audience_name
            - action
          properties:
            audience_id:
              type: integer
              description: The ID of the audience to add, update, or delete.
              example: 29
            audience_name:
              type: string
              description: The name of the audience.
              example: Travel audience
            action:
              description: The action to perform on the audience.
              example: add
              enum:
                - add
                - update
                - remove
            audience_subscription_settings:
              type: object
              description: Additional settings for the audience.
              additionalProperties: true
            user_attributes:
              description: Additional user attributes to add, update, or delete.
              type: array
              items:
                $ref: '#/components/schemas/mparticleUserAttribute'
    AudienceSubscriptionResponse:
      allOf:
        - $ref: '#/components/schemas/mparticleResponseType'
        - $ref: '#/components/schemas/mparticleBaseFields'
        - type: object
          properties:
            audience_subscription_settings:
              type: object
              additionalProperties: true
    EventProcessingRequest:
      allOf:
        - type: object
          required:
            - type
          properties:
            type:
              type: string
              description: The type of the mParticle request. Must be set to `event_processing_request`.
              example: event_processing_request
        - $ref: '#/components/schemas/mparticleBaseFields'
        - $ref: '#/components/schemas/mparticleAccount'
        - type: object
          required:
            - mpid
            - events
          properties:
            mpid:
              type: string
              description: The mParticle ID.
              example: 6423PSJVY7492
            user_identities:
              type: array
              description: The customer identity data associated with this event. Required if `account.account_settings.userIdField` is set to `email` or `customerId`.
              items:
                $ref: '#/components/schemas/mparticleUserIdentity'
            events:
              type: array
              description: The event data.
              items:
                $ref: '#/components/schemas/mparticleEvent'
    EventProcessingResponse:
      allOf:
        - $ref: '#/components/schemas/mparticleResponseType'
        - $ref: '#/components/schemas/mparticleBaseFields'
    EmarsysCouponRequest:
      type: object
      required:
        - fields
        - limit
        - parameters
      properties:
        parameters:
          type: array
          items:
            properties:
              campaignId:
                type: string
                description: The ID of the campaign in Talon.One. It is displayed in your Talon.One deployment URL.
                example: '34'
              integrationId:
                type: string
                description: The integration ID of the customer profile.
                example: URNGV8294NV
        fields:
          type: array
          description: |
            Any additional data we want in the response.

            **Note:** For the supported `fields`, see the [List customer data](https://docs.talon.one/integration-api#tag/Customer-profiles/operation/getCustomerInventory) response (any nested arrays and objects are discarded from the response).
            In addition to this, custom attributes are supported.
          example:
            - id
            - created
          items:
            type: string
        limit:
          type: number
          minimum: 0
          example: 1000
          description: The value to set for the limit.
    EmarsysCouponResponse:
      properties:
        content:
          type: array
          description: |
            The relevant coupon-related content, including the properties passed in the `fields` array of the request.
          items:
            type: object
            required:
              - campaignId
              - integrationId
            properties:
              campaignId:
                type: string
                description: The ID of the campaign in Talon.One. It is displayed in your Talon.One deployment URL.
                example: '34'
              integrationId:
                type: string
                description: The integration ID of the customer profile.
                example: URNGV8294NV
    EmarsysLoyaltyBalanceRequest:
      type: object
      required:
        - fields
        - limit
        - parameters
      properties:
        parameters:
          type: array
          items:
            properties:
              loyaltyProgramId:
                type: string
                description: The ID of the loyalty program in Talon.One.
                example: '34'
              integrationId:
                type: string
                description: The integration ID of the customer profile.
                example: URNGV8294NV
              subledgerId:
                type: string
                description: The ID of the subledger from which to retrieve the loyalty balance. If not provided, the loyalty balance is retrieved from the main ledger.
                example: subledger-123
            required:
              - loyaltyProgramId
              - integrationId
        fields:
          type: array
          description: |
            Additional fields to include in the response.
            Valid fields are `activeBalance`, `pendingBalance`, `expiredBalance`, and `spentBalance`.
          example:
            - activeBalance
            - pendingBalance
          items:
            type: string
    EmarsysLoyaltyBalanceResponse:
      properties:
        content:
          type: array
          description: |
            The requested loyalty balance, including the properties specified in the `fields` parameter.
          items:
            type: object
            required:
              - loyaltyProgramId
              - integrationId
            properties:
              loyaltyProgramId:
                type: string
[...]
